# 1. Ignore everything in the repository
*

# 2. But do NOT ignore the .gitignore file itself (highly recommended)
!.gitignore

# 3. Do NOT ignore any .ipynb files
!*.ipynb
!*.md

# 4. If you have notebooks in subfolders, you need to allow directories
!*/
